:root{
    /*-----General-----*/
    --bg_color: #000000;
    --outer_margins: 50px;

    /*-----Fillers-----*/
    --col_filler_regular_w: 30px;
    --col_filler_small_w: 5px;
    --row_filler_small_h: 5px;
    --row_filler_large_h: 50px;

    /*-----Filled Rows/Columns-----*/
    --group_padding: 8px;
    --group_bg_color: #363636;
    
    /*-----Nav-----*/
    --nav_bg_color: #363636;
    --nav_font_color: #BB86FC;

    /*-----Borders sizes-----*/
    --border_curve_size_regular: 15px;
    --border_curve_size_large: 30px;
    --border_size: 1px;

    /*-----Data Width-----*/
    --data_width_number: 100px;
    --data_width_number_special: 130px;
    --data_width_text_regular: 200px;
    --data_width_text_large: 300px;
    
    /*-----Headers-----*/
    --h1_font_color: #EEEEEE;
    --h1_font_size: 35px;
    --h2_font_color: #A7A6A6;
    --h2_font_size: 30px;
    --h3_font_color: #EEEEEE;
    --h3_font_size: 25px;
    --h4_font_color: #03234D;
    --h4_font_size: 40px;
    --h5_font_color: #BB86FC;
    --h5_font_size: 25px;
    
    /*-----Cards-----*/
    --card_data_font_color: #A7A6A6;
    --card_data_font_size: 16px;
    --card_data_bg_color: #363636;
    --card_data_border_color: #BB86FC;
    --card_title_font_color: #363636;
    --card_title_font_size: 16px;
    --card_title_bg_color: #BB86FC;
    
    /*-----Titlebox*/    
    --titlebox_small_font_color: #363636;
    --titlebox_small_font_size: 20px;
    --titlebox_small_bg_color: #BB86FC;
    --titlebox_small_w: 75px;
    
    /*-----Buttons-----*/
    --button_font_color: #363636;
    --button_font_size: 16px;
    --button_confirm_bg_color: #7fda79;
    --button_clear_bg_color: #ea7068;
    --button_h: 50px;
    
    --button_login_font_color: #03234D;
    --button_login_font_size: 16px;
    --button_login_bg_color: #BB86FC;
    --button_login_h: 50px;
    --button_login_w: 300px;
    
    /*-----Matrix-----*/
    --matrix_header_font_color: #363636;
    --matrix_header_font_size: 16px;
    --matrix_header_bg_color: #BB86FC;
    --matrix_data_font_color: #A7A6A6;
    --matrix_data_font_size: 16px;
    --matrix_data_bg_color: #363636;
    --matrix_border_color: #BB86FC;
}

@font-face{
    font-family: "Questrial";
    src: url("..\fonts\Questrial") format("ttf"),
}

body{
    font-family: "Questrial", sans-serif;
    background-color: var(--bg_color);
}

main{
    position: absolute;
    top: 100px;
    left: 270px;
    bottom: var(--outer_margins);
    right: var(--outer_margins);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/
h1 {
    color: var(--h1_font_color);
    font-size: var(--h1_font_size);
    position: relative;
}

h2 {
    color: var(--h2_font_color);
    font-size: var(--h2_font_size);
    position: relative;
}

h2 span {
    background-color: var(--bg_color);
    padding-right: 10px;
}

h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #A7A6A6;
    z-index: -1;
}

h3 {
    color: var(--h3_font_color);
    font-size: var(--h3_font_size);
    line-height: 0;
}

h4{
    color: var(--h4_font_color);
    font-size: var(--h4_font_size);
}

h5{
    color: var(--h5_font_color);
    font-size: var(--h5_font_size);
}
/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.img_login_logo_1{
    width: 250px;
}


/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.row_noflex_transparent{
    display: flex;
    justify-content: space-between;
}

.col_flex_transparent{
    display: block;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    justify-content: center;
}

.col_flex_filled{
    padding: var(--group_padding);
    background-color: var(--group_bg_color);
    display: block;
    border-radius: var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular);
    flex: 1;
}

.col_flex_centered_transparent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.col_noflex_filled{
    padding: var(--group_padding);
    background-color: var(--group_bg_color);
    display: block;
    border-radius: var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular);
}


.row_filler_small{
    height: var(--row_filler_small_h);
}

.row_filler_large{
    height: var(--row_filler_large_h);
}

.col_filler_flex{
    display: flex;
    flex: 1;
}

.col_filler_small{
    width: var(--col_filler_small_w);
}

.col_filler_regular{
    width: var(--col_filler_regular_w);
}


/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.card{
    display: flex;
    flex: 1;
}

.card_title{
    color: var(--card_title_font_color);
    font-size: var(--card_title_font_size);
    text-align: center;

    background-color: var(--card_title_bg_color);
    border-radius: var(--border_curve_size_regular) 0px 0px var(--border_curve_size_regular);
    
    flex: 1;
}

.card_data_number_1{
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    background-color: var(--card_data_bg_color);
    border-radius: 0px var(--border_curve_size_regular) var(--border_curve_size_regular) 0px;

    width: var(--data_width_number);
}

.card_data_number_2{
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    background-color: var(--card_data_bg_color);
    border-radius: 0px var(--border_curve_size_regular) var(--border_curve_size_regular) 0px;

    border: solid var(--border_size);
    border-color: var(--card_data_border_color);
    width: var(--data_width_number);
}

.card_data_text_regular{
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    background-color: var(--card_data_bg_color);
    border-radius: 0px var(--border_curve_size_regular) var(--border_curve_size_regular) 0px;

    border: solid var(--border_size);
    border-color: var(--card_data_border_color);
    width: var(--data_width_text_regular);
}

.card_data_text_large{
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    background-color: var(--card_data_bg_color);
    border-radius: 0px var(--border_curve_size_regular) var(--border_curve_size_regular) 0px;

    border: solid var(--border_size);
    border-color: var(--card_data_border_color);
    width: var(--data_width_text_large);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.card_upper_title{
    color: var(--card_title_font_color);
    font-size: var(--card_title_font_size);
    text-align: center;

    background-color: var(--card_title_bg_color);
    border-radius: var(--border_curve_size_regular) 0px 0px 0px;
    
    flex: 1;
}

.card_upper_data_number{
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    background-color:  var(--card_data_bg_color);
    border-radius: 0px var(--border_curve_size_regular) 0px 0px;

    border: solid var(--border_size);
    border-color: var(--card_data_border_color);

    width: var(--data_width_number);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.card_lower_title{
    color: var(--card_title_font_color);
    font-size: var(--card_title_font_size);
    text-align: center;

    background-color: var(--card_title_bg_color);
    border-radius: 0px 0px 0px var(--border_curve_size_regular);

    flex: 1;
}

.card_lower_data_number{
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    background-color:  var(--card_data_bg_color);
    border-radius: 0px 0px var(--border_curve_size_regular) 0px;

    border: solid var(--border_size);
    border-color: var(--card_data_border_color);

    width: var(--data_width_number);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.titlebox_small{
    color: var(--titlebox_small_font_color);
    font-size: var(--titlebox_small_font_size);
    text-align: center;

    background-color: var(--titlebox_small_bg_color);
    border-radius: var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular);
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--titlebox_small_w);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.button_confirm{
    color: var(--button_font_color);
    font-size: var(--button_font_size);
    text-align: center;
    
    background-color: var(--button_confirm_bg_color);
    border-radius: var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular);

    height: var(--button_h);
    flex: 1;
}

.button_clear{
    color: var(--button_font_color);
    font-size: var(--button_font_size);
    text-align: center;
    
    background-color: var(--button_clear_bg_color);
    border-radius: var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular);

    height: var(--button_h);
    flex: 1;
}

.button_login{
    color: var(--button_login_font_color);
    font-size: var(--button_login_font_size);
    text-align: center;
    
    background-color: var(--button_login_bg_color);
    border-radius: var(--border_curve_size_large) var(--border_curve_size_large) var(--border_curve_size_large) var(--border_curve_size_large);

    height: var(--button_login_h);
    width: var(--button_login_w);
    margin: auto;
}

.button_card{
    color: #868484;
    font-size: var(--button_login_font_size);
    text-align: center;
    
    background-color: #EEEEEE;
    border-radius: var(--border_curve_size_large) var(--border_curve_size_large) var(--border_curve_size_large) var(--border_curve_size_large);

    height: var(--button_login_h);
    width: var(--button_login_w);
    margin: auto;
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.matrix_type1{
    border-color: var(--matrix_border_color);
    border-spacing: 0;
    text-align: center;
    align-self: center;
    flex: 1;
    width: 100%;
}

.matrix_type1 th {
    color: var(--matrix_header_font_color);
    font-size: var(--matrix_header_font_size);

    background-color: var(--matrix_header_bg_color);
    border-radius: var(--border_curve_size_regular) var(--border_curve_size_regular) 0 0;

    padding: 8px;
    width: auto;    
}

.matrix_type1 td {
    color: var(--matrix_data_font_color);
    font-size: var(--matrix_data_font_size);

    background-color: var(--matrix_data_bg_color);
    border: 1px solid var(--matrix_border_color);

    padding: 8px;
    width: auto;
}

.matrix_type1 td:nth-child(1){
    text-align: left;
    width: var(--data_width_text_regular);
}

.matrix_type1 td:nth-child(3){
    text-align: center;
    width: var(--data_width_number);
}

.matrix_type1 tr:last-child td{
    border-radius: 0 0 var(--border_curve_size_regular) var(--border_curve_size_regular);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.matrix_type2{
    border-color: var(--matrix_border_color);
    border-spacing: 0;
    text-align: center;
    align-self: center;
}

.matrix_type2 th {
    color: var(--matrix_header_font_color);
    font-size: var(--matrix_header_font_size);

    background-color: var(--matrix_header_bg_color);
    border-radius: var(--border_curve_size_regular) var(--border_curve_size_regular) 0 0;

    padding: 8px;
}

.matrix_type2 td {
    color: var(--matrix_data_font_color);
    font-size: var(--matrix_data_font_size);

    background-color: var(--matrix_data_bg_color);
    border: 1px solid var(--matrix_border_color);

    padding: 8px;
    width: var(--data_width_number_special);
}

.matrix_type2 tr:last-child td{
    border-radius: 0 0 var(--border_curve_size_regular) var(--border_curve_size_regular);
}


/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

nav {
    width: 200px;
    background-color: var(--nav_bg_color);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

nav li {
    padding: 0;
    margin: 20px;
}

nav a {
    padding: 10px;
    color: var(--nav_font_color);
    text-decoration: none;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.avatar {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  position: absolute; 
  top: 20px; 
  right: 100px;
}

.username {
    color: white;
    position: absolute;
    right: 190px;
    top: 15px;
}

.function {
    color: white;
    position: absolute;
    right: 190px;
    top: 35px;
}