:root{
    --border_curve_size: 15px;
    --outer_margins: 50px;

    --column_filler_regular_w: 30px;
    --column_filler_small_w: 5px;

    --row_filler_small_h: 5px;

    
    --group_padding: 10px;
    
    --data_width_number: 100px;
    --data_width_text_regular: 200px;
    --data_width_text_large: 300px;
    
    --border_size: 1px;
    
    --bg_color: #000000;
    
    --nav_bg_color: #363636;
    --nav_font_color: #BB86FC;
    
    --h1_font_color: #EEEEEE;
    --h2_font_color: #A7A6A6;
    --h3_font_color: #EEEEEE;
    
    --infobox_title_bg_color: #BB86FC;
    --infobox_title_font_size: 16px;
    --infobox_title_font_color: #363636;
    
    --infobox_data_bg_color: #363636;
    --infobox_data_font_size: 16px;
    --infobox_data_font_color: #A7A6A6;
    --infobox_data_border_color: #BB86FC;
    
    --inputbox_title_bg_color: #BB86FC;
    --inputbox_title_font_size: 16px;
    --inputbox_title_font_color: #363636;
    
    --inputbox_data_bg_color: #363636;
    --inputbox_data_font_size: 16px;
    --inputbox_data_font_color: #A7A6A6;
    --inputbox_data_border_color: #BB86FC;

    --titlebox_small_bg_color: #BB86FC;
    --titlebox_small_font_size: 20px;
    --titlebox_small_font_color: #363636;
    --titlebox_small_w: 125px;
    
    --group_bg_color: #363636;
    
    --button_font_size: 16px;
    --button_font_color: #363636;
    --button_bg_color: #BB86FC;
    
    --matrix_header_font_color: #363636;
    --matrix_header_bg_color: #BB86FC;
    --matrix_data_font_color: #A7A6A6;
    --matrix_data_bg_color: #363636;
    --matrix_border_color: #BB86FC;


}

@font-face{
    font-family: "Questrial";
    src: url("..\fonts\Questrial") format("ttf"),
}

body{
    font-family: "Questrial", sans-serif;
    background-color: var(--bg_color);
}

main{
    position: absolute;
    top: 100px;
    left: 270px;
    bottom: var(--outer_margins);
    right: var(--outer_margins);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/
h1 {
    font-size: 35px;
    color: var(--h1_font_color);
    position: relative;
  }

h2 {
  font-size: 32px;
  color: var(--h2_font_color);
  position: relative;
}

h2 span {
  background-color: var(--bg_color);
  padding-right: 10px;
}

h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid #A7A6A6;
  z-index: -1;
}

h3 {
    font-size: 33px;
    color: var(--h3_font_color);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.row_group_transparent{
    display: flex;
    justify-content: space-between;    
}


.row_group_filled{
    display: flex;
    justify-content: space-between;
    background-color: var(--group_bg_color);
}

.column_group_filled{
    padding: var(--group_padding);
    background-color: var(--group_bg_color);
    display: block;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border_curve_size) var(--border_curve_size) var(--border_curve_size) var(--border_curve_size);
    flex: 1;
}

.column_group_transparent{
    display: block;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.row_filler_small{
    height: var(--row_filler_small_h);
}

.column_filler_regular{
    width: var(--column_filler_regular_w);
}


.column_filler_small{
    width: var(--column_filler_small_w);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.infobox{
    display: flex;
    flex: 1;
}

.infobox_title{
    color: var(--infobox_title_font_color);
    font-size: var(--infobox_title_font_size);
    text-align: center;

    background-color: var(--infobox_title_bg_color);
    border-radius: var(--border_curve_size) 0px 0px var(--border_curve_size);
    
    flex: 1;
}

.infobox_data_number{
    color: var(--infobox_data_font_color);
    font-size: var(--infobox_data_font_size);
    text-align: center;

    background-color: var(--infobox_data_bg_color);
    border-radius: 0px var(--border_curve_size) var(--border_curve_size) 0px;

    width: var(--data_width_number);
}


.infobox_data_text_regular{
    color: var(--infobox_data_font_color);
    font-size: var(--infobox_data_font_size);
    text-align: center;

    background-color: var(--infobox_data_bg_color);
    border-radius: 0px var(--border_curve_size) var(--border_curve_size) 0px;

    width: var(--data_width_text_regular);
}


.infobox_data_text_large{
    color: var(--infobox_data_font_color);
    font-size: var(--infobox_data_font_size);
    text-align: center;

    background-color: var(--infobox_data_bg_color);
    border-radius: 0px var(--border_curve_size) var(--border_curve_size) 0px;

    width: var(--data_width_text_large);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.infobox_upper{
    display: flex;
    flex: 1;
}

.infobox_upper_title{
    color: var(--infobox_title_font_color);
    font-size: var(--infobox_title_font_size);
    text-align: center;

    background-color: var(--infobox_title_bg_color);
    border-radius: var(--border_curve_size) 0px 0px 0px;
    
    flex: 1;
}

.infobox_upper_data_number{
    color: var(--infobox_data_font_color);
    font-size: var(--infobox_data_font_size);
    text-align: center;

    background-color:  var(--infobox_data_bg_color);
    border-radius: 0px var(--border_curve_size) 0px 0px;

    border: solid var(--border_size);
    border-color: var(--infobox_data_border_color);

    width: var(--data_width_number);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.infobox_lower{
    display: flex;
    flex: 1;
}

.infobox_lower_title{
    color: var(--infobox_title_font_color);
    font-size: var(--infobox_title_font_size);
    text-align: center;

    background-color: var(--infobox_title_bg_color);
    border-radius: 0px 0px 0px var(--border_curve_size);

    flex: 1;
}

.infobox_lower_data_number{
    color: var(--infobox_data_font_color);
    font-size: var(--infobox_data_font_size);
    text-align: center;

    background-color:  var(--infobox_data_bg_color);
    border-radius: 0px 0px var(--border_curve_size) 0px;

    border: solid var(--border_size);
    border-color: var(--infobox_data_border_color);

    width: var(--data_width_number);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.inputbox{
    display: flex;
    flex: 1;
}

.inputbox_title{
    color: var(--inputbox_title_font_color);
    font-size: var(--infobox_title_font_size);
    text-align: center;

    background-color: var(--infobox_title_bg_color);
    border-radius: var(--border_curve_size) 0px 0px var(--border_curve_size);

    flex: 1;
}

.inputbox_data_number{
    color: var(--inputbox_data_font_color);
    font-size: var(--inputbox_data_font_size);
    text-align: center;

    background-color: var(--infobox_data_bg_color);
    border-radius: 0px var(--border_curve_size) var(--border_curve_size) 0px;

    border: solid var(--border_size);
    border-color: var(--infobox_data_border_color);
    width: var(--data_width_number);
}

.inputbox_data_text_regular{
    color: var(--inputbox_data_font_color);
    font-size: var(--inputbox_data_font_size);
    text-align: center;

    background-color: var(--infobox_data_bg_color);
    border-radius: 0px var(--border_curve_size) var(--border_curve_size) 0px;

    border: solid var(--border_size);
    border-color: var(--infobox_data_border_color);
    width: var(--data_width_text_regular);
}

.inputbox_data_text_large{
    color: var(--inputbox_data_font_color);
    font-size: var(--inputbox_data_font_size);
    text-align: center;

    background-color: var(--infobox_data_bg_color);
    border-radius: 0px var(--border_curve_size) var(--border_curve_size) 0px;

    border: solid var(--border_size);
    border-color: var(--infobox_data_border_color);
    width: var(--data_width_text_large);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.inputbox_upper{
    display: flex;
    flex: 1;
}

.inputbox_upper_title{
    color: var(--inputbox_title_font_color);
    font-size: var(--inputbox_title_font_size);
    text-align: center;

    background-color: var(--inputbox_title_bg_color);
    border-radius: var(--border_curve_size) 0px 0px 0px;
    
    flex: 1;
}

.inputbox_upper_data_number{
    color: var(--inputbox_data_font_color);
    font-size: var(--inputbox_data_font_size);
    text-align: center;

    background-color:  var(--inputbox_data_bg_color);
    border-radius: 0px var(--border_curve_size) 0px 0px;

    border: solid var(--border_size);
    border-color: var(--inputbox_data_border_color);

    width: var(--data_width_number);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.inputbox_lower{
    display: flex;
    flex: 1;
}

.inputbox_lower_title{
    color: var(--inputbox_title_font_color);
    font-size: var(--inputbox_title_font_size);
    text-align: center;

    background-color: var(--inputbox_title_bg_color);
    border-radius: 0px 0px 0px var(--border_curve_size);

    flex: 1;
}

.inputbox_lower_data_number{
    color: var(--inputbox_data_font_color);
    font-size: var(--inputbox_data_font_size);
    text-align: center;

    background-color:  var(--inputbox_data_bg_color);
    border-radius: 0px 0px var(--border_curve_size) 0px;

    border: solid var(--border_size);
    border-color: var(--inputbox_data_border_color);

    width: var(--data_width_number);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.titlebox_small{
    color: var(--titlebox_small_font_color);
    font-size: var(--titlebox_small_font_size);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--titlebox_small_bg_color);
    border-radius: var(--border_curve_size) var(--border_curve_size) var(--border_curve_size) var(--border_curve_size);

    width: var(--titlebox_small_w);
    
    
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.button{
    display: flex;
    background-color: var(--button_bg_color);
    border-radius: var(--border_curve_size) var(--border_curve_size) var(--border_curve_size) var(--border_curve_size);
    flex: 1;
    color: var(--button_font_color);
    font-size: var(--button_font_size);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.matrix1{
    color: var(--matrix_data_font_color);
    border-color: var(--matrix_border_color);
    text-align: center;
    align-self: center;
    flex: 1;
    table-layout: fixed;
    width: 100%;
}

.matrix1 th {
    background-color: var(--matrix_header_bg_color);
    color: var(--matrix_header_font_color);
    width: auto;
    padding: 8px;
    border-radius: var(--border_curve_size) var(--border_curve_size) 0 0;
    
}

.matrix1 td {
    background-color: var(--matrix_data_bg_color);
    color: var(--matrix_data_font_color);
    border: 1px solid var(--matrix_border_color);
    width: auto;
    padding: 8px;
}

.matrix1 tr:last-child td{
    border-radius: 0 0 var(--border_curve_size) var(--border_curve_size);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

nav {
    width: 200px;
    background-color: var(--nav_bg_color);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

nav li {
    padding: 0;
    margin: 20px;
}

nav a {
    padding: 10px;
    color: var(--nav_font_color);
    text-decoration: none;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.avatar {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  position: absolute; 
  top: 20px; 
  right: 100px;
}

.username {
    color: white;
    position: absolute;
    right: 190px;
    top: 15px;
}

.function {
    color: white;
    position: absolute;
    right: 190px;
    top: 35px;
}

