:root{
    --border_curve_size: 15px;
    --outer_margins: 50px;
    --inner_w_filler: 30px;
    --inner_h_filler: 5px;
    --data_w: 150px;
    --padding: 25px;

    --bg_color: #000000;

    --nav_bg_color: #363636;
    --nav_font_color: #BB86FC;

    --h1_font_color: #EEEEEE;
    --h2_font_color: #A7A6A6;
    --h3_font_color: #EEEEEE;
    
    --infobox_title_bg_color: #BB86FC;
    --infobox_data_bg_color: #363636;
    --infobox_data_border_color: #BB86FC;
    --infobox_title_font_size: 16px;
    --infobox_data_font_size: 16px;

    --group_bg_color: #363636;

    --button_font_size: 16px;
    --button_font_color: #363636;
    --button_bg_color: #BB86FC;

    --matrix_header_font_color: #363636;
    --matrix_header_bg_color: #BB86FC;
    --matrix_data_font_color: #A7A6A6;
    --matrix_data_bg_color: #363636;
    --matrix_border_color: #BB86FC;


}

@font-face{
    font-family: "Questrial";
    src: url("..\fonts\Questrial") format("ttf"),
}

body{
    font-family: "Questrial", sans-serif;
    background-color: var(--bg_color);
}

main{
    position: absolute;
    top: 100px;
    left: 270px;
    bottom: var(--outer_margins);
    right: var(--outer_margins);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/
h1 {
    font-size: 35px;
    color: var(--h1_font_color);
    position: relative;
  }

h2 {
  font-size: 32px;
  color: var(--h2_font_color);
  position: relative;
}

h2 span {
  background-color: var(--bg_color);
  padding-right: 10px;
}

h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid #A7A6A6;
  z-index: -1;
}

h3 {
    font-size: 33px;
    color: var(--h3_font_color);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.row_group1{
    display: flex;
    justify-content: space-between;    
}

.column_group1{
    padding: 10px;
    background-color: var(--group_bg_color);
    display: block;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border_curve_size) var(--border_curve_size) var(--border_curve_size) var(--border_curve_size);
    flex: 1;
}

.row_hypergroup1{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.column_hypergroup1{
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
}

.row_filler{
    height: var(--inner_h_filler);
}

.column_filler{
    width: var(--inner_w_filler);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/


.infobox1{
    display: flex;
    flex: 1;
}

.infobox1_title{
    font-size: var(--infobox_title_font_size);
    text-align: center;
    background-color: var(--infobox_title_bg_color);
    border-radius: var(--border_curve_size) 0px 0px var(--border_curve_size);
    flex: 1;
}

.infobox1_data{
    font-size: var(--infobox_data_font_size);
    text-align: center;
    background-color: var(--infobox_data_bg_color);
    border-radius: 0px var(--border_curve_size) var(--border_curve_size) 0px;
    width: var(--data_w);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.infobox2{
    display: flex;
    flex: 1;
}

.infobox2_title{
    font-size: var(--infobox_title_font_size);
    text-align: center;
    background-color: var(--infobox_title_bg_color);
    border-radius: var(--border_curve_size) 0px 0px var(--border_curve_size);
    border-color: var(--infobox_data_border_color);
    flex: 1;
}

.infobox2_data{
    font-size: var(--infobox_data_font_size);
    text-align: center;
    background-color: #363636;
    border-radius: 0px var(--border_curve_size) var(--border_curve_size) 0px;
    border-color: #BB86FC;
    width: var(--data_w);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.button{
    display: flex;
    background-color: var(--button_bg_color);
    border-radius: var(--border_curve_size) var(--border_curve_size) var(--border_curve_size) var(--border_curve_size);
    flex: 1;
    color: var(--button_font_color);
    font-size: var(--button_font_size);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.matrix1{
    color: var(--matrix_data_font_color);
    border-color: var(--matrix_border_color);
    text-align: center;
    align-self: center;
    flex: 1;
    table-layout: fixed;
    width: 100%;    
}

.matrix1 th {
    background-color: var(--matrix_header_bg_color);
    color: var(--matrix_header_font_color);
    width: auto;
    padding: 8px;
    border-radius: var(--border_curve_size) var(--border_curve_size) 0 0;
    
}

.matrix1 td {
    background-color: var(--matrix_data_bg_color);
    color: var(--matrix_data_font_color);
    border: 1px solid var(--matrix_border_color);
    width: auto;
    padding: 8px;
}

.matrix1 tr:last-child td{
    border-radius: 0 0 var(--border_curve_size) var(--border_curve_size);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

nav {
    width: 200px;
    background-color: var(--nav_bg_color);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

nav li {
    padding: 0;
    margin: 20px;
}

nav a {
    padding: 10px;
    color: var(--nav_font_color);
    text-decoration: none;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.avatar {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  position: absolute; 
  top: 20px; 
  right: 100px;
}

.username {
    color: white;
    position: absolute;
    right: 190px;
    top: 15px;
}

.function {
    color: white;
    position: absolute;
    right: 190px;
    top: 35px;
}

