.row_noflex_transparent {
    display: flex;
    justify-content: space-between;
}

.col_flex_transparent {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    justify-content: center;
}

.col_flex_filled {
    padding: var(--group_padding);
    background-color: var(--group_bg_color);
    display: block;
    border-radius: var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular);
    flex: 1;
}

.col_flex_centered_transparent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.col_noflex_filled {
    padding: var(--group_padding);
    background-color: var(--group_bg_color);
    display: block;
    border-radius: var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular);
}

.card {
    display: flex;
    flex: 1;
}

.card_title {
    color: var(--card_title_font_color);
    font-size: var(--card_title_font_size);
    text-align: center;

    background-color: var(--card_title_bg_color);
    border-radius: var(--border_curve_size_regular) 0px 0px var(--border_curve_size_regular);

    flex: 1;
}

.card_data_number_1 {
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card_data_bg_color);
    border-radius: 0px var(--border_curve_size_regular) var(--border_curve_size_regular) 0px;

    width: var(--data_width_number);
}

.card_data_number_2 {
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    background-color: var(--card_data_bg_color);
    border-radius: 0px var(--border_curve_size_regular) var(--border_curve_size_regular) 0px;

    border: solid var(--border_size);
    border-color: var(--card_data_border_color);
    width: var(--data_width_number);
}

.card_data_text_regular {
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    background-color: var(--card_data_bg_color);
    border-radius: 0px var(--border_curve_size_regular) var(--border_curve_size_regular) 0px;

    border: solid var(--border_size);
    border-color: var(--card_data_border_color);
    width: var(--data_width_text_regular);
}

.card_data_text_large {
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    background-color: var(--card_data_bg_color);
    border-radius: 0px var(--border_curve_size_regular) var(--border_curve_size_regular) 0px;

    border: solid var(--border_size);
    border-color: var(--card_data_border_color);
    width: var(--data_width_text_large);
}

.card_data_text_verylarge {
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    background-color: var(--card_data_bg_color);
    border-radius: 0px var(--border_curve_size_regular) var(--border_curve_size_regular) 0px;

    border: solid var(--border_size);
    border-color: var(--card_data_border_color);
    width: var(--data_width_text_verylarge);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.card_upper_title {
    color: var(--card_title_font_color);
    font-size: var(--card_title_font_size);
    text-align: center;

    background-color: var(--card_title_bg_color);
    border-radius: var(--border_curve_size_regular) 0px 0px 0px;

    flex: 1;
}

.card_upper_data_number {
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    background-color: var(--card_data_bg_color);
    border-radius: 0px var(--border_curve_size_regular) 0px 0px;

    border: solid var(--border_size);
    border-color: var(--card_data_border_color);

    width: var(--data_width_number);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.card_lower_title {
    color: var(--card_title_font_color);
    font-size: var(--card_title_font_size);
    text-align: center;

    background-color: var(--card_title_bg_color);
    border-radius: 0px 0px 0px var(--border_curve_size_regular);

    flex: 1;
}

.card_lower_data_number {
    color: var(--card_data_font_color);
    font-size: var(--card_data_font_size);
    text-align: center;

    background-color: var(--card_data_bg_color);
    border-radius: 0px 0px var(--border_curve_size_regular) 0px;

    border: solid var(--border_size);
    border-color: var(--card_data_border_color);

    width: var(--data_width_number);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.titlebox_small {
    color: var(--titlebox_small_font_color);
    font-size: var(--titlebox_small_font_size);
    text-align: center;

    background-color: var(--titlebox_small_bg_color);
    border-radius: var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular) var(--border_curve_size_regular);

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--titlebox_small_w);
}

/*----------------------------------------------------------------------------
------------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.button_confirm {
    color: var(--button_font_color);
    font-size: var(--button_font_size);
    font-family: 'Questrial', sans-serif;
    text-align: center;

    background-color: var(--button_confirm_bg_color);
    border-radius: var(--border_curve_size_large);

    width: 25%;
    height: var(--button_h);

    cursor: pointer;

}

.button_confirm:hover {
    background-color: #BB86FC;
}


.button_confirm_absolute {
    color: var(--button_font_color);
    font-size: var(--button_font_size);
    text-align: center;

    background-color: var(--button_confirm_bg_color);
    border-radius: var(--border_curve_size_large);
}

.button_login {
    background-color: #BB86FC;
    border: none;
    border-radius: 40px;
    width: 350px;
    height: 40px;
    font-family: 'Questrial', sans-serif;
    left: 970px;
    color: #03234D;
}

.btn-button_login:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.button_card {
    background-color: white;
    border-radius: 40px;
    width: 350px;
    height: 40px;
    margin: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.botao {
    color: #BB86FC;
    font-size: 14px;
    position: absolute;
    top: 550px;
    left: 980px;
}

/*--------------------------------------------------
BOTÕES COM RESULTADOS (AVALIAM O CUMPRIMENTO DAS REGRAS)
--------------------------------------------------*/

.b2 {
    background-color: #363636;
    border-radius: 10px;
    outline: 1px solid #BB86FC;
    color: white;
}

.b2.warn {
    background-color: red;
}

/*--------------------------------------------------
BOTÕES COM DIAS DA SEMANA
--------------------------------------------------*/

.b3 {
    background-color: #BB86FC;
    border: 2px solid black;
    border-radius: 10px;
}

/*--------------------------------------------------
BOTÕES COM AS ESCALAS DE CADA DIA
> Estes são os botões não-clicáveis, que contém somente as escalas atuais
--------------------------------------------------*/
.b1 {
    background-color: #c3c3c3;
    border-radius: 10px;
}

.b1.clicado {
    background-color: #9b4afd;
}

/*--------------------------------------------------
BOTÕES COM AS ESCALAS DE CADA DIA.
> Estes botões são os clicáveis
--------------------------------------------------*/

.b4on {
    background-color: #9b4afd;
    border-radius: 10px;
    cursor: pointer;
}

.b4on:active {
    transform: translateY(2px);
    background-color: #9b4afd;
}

.b4off {
    background-color: #c3c3c3;
    border-radius: 10px;
    cursor: pointer;
}

.b4off:active {
    transform: translateY(2px);
    background-color: #BB86FC;
}