nav {
    width: 200px;
    background-color: #f2f2f2;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

nav li {
    padding: 0;
    margin: 20px;
}

nav a {
    padding: 10px;
    color: #333;
    text-decoration: none;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

.avatar {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  position: absolute; 
  top: 20px; 
  right: 100px;
}

.username {
    color: black;
    position: absolute;
    right: 190px;
    top: 15px;
}

.function {
    color: black;
    position: absolute;
    right: 190px;
    top: 35px;
}

#matrix1 {
    position: absolute;
    top: 100px;
    left: 210px;
  }
  
  #matrix2 {
    position: absolute;
    top: 100px;
    left: 490px;
  }
  
  #matrix3 {
    position: absolute;
    top: 100px;
    left: 770px;
  }
  
  #weekdays1 button, #weekdays2 button, #weekdays3 button, #matrix1 button, #matrix2 button, #matrix3 button, #infoCurrentShift button, #infoNewShift button, #adicionarMembro button{
    height: 30px;
    width: 40px;
    border: none;
    font-family: helvetica;
    font-weight: bold;
  }
  
  #b1 {
    background-color: rgba(255, 153, 51, 0.5);
  }
  
  #b1:hover {
    background-color: rgb(255, 153, 51);
  }
  
  #b2 {
    background-color: rgba(15, 138, 15, 0.5);
    border: 2px solid black;
  }
  
  .rectangle-group {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0px;
      top: 100px;
    }
  
  .info-title {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0px;
      top: 480px;
    }
    
    .rectangle {
      width: 200px;
      height: 30px;
      background-color: #f0f0f0;
      border: 1px solid #000000;
      margin: 2.5px;
    }
  
  .member{
      width: 200px;
      height: 80px;
      background-color: #f0f0f0;
      border: 1px solid #000000;
      margin: 2.5px;
      position: absolute;
      left: 0px;
      top: 0px;
  }
  
  #weekdays1{
    position: absolute;
    top: 50px;
    left: 210px;
  }
  
  #weekdays2{
    position: absolute;
    top: 50px;
    left: 490px;
  }
  
  #weekdays3{
    position: absolute;
    top: 50px;
    left: 770px;
  }
  
  .currentshift{
      width: 257px;
      height: 40px;
      background-color: #f0f0f0;
      border: 1px solid #000000;
      margin: 2.5px;
      position: absolute;
      left: 210px;
      top: 0px;
  }
  
  .preferences{
      width: 257px;
      height: 40px;
      background-color: #f0f0f0;
      border: 1px solid #000000;
      margin: 2.5px;
      position: absolute;
      left: 490px;
      top: 0px;  
  }
  
  .newshift{
      width: 257px;
      height: 40px;
      background-color: #f0f0f0;
      border: 1px solid #000000;
      margin: 2.5px;
      position: absolute;
      left: 770px;
      top: 0px;  
  }
  
  #infoCurrentShift{
    position: absolute;
    top: 480px;
    left: 210px;
  }
  
  #infoNewShift{
    position: absolute;
    top: 480px;
    left: 770px;
  }
  
  .adicionarMembro{
    width: 500px;
    position: absolute;
    top: 580px;
    left: 0px;
  }
  
  .confirmar{
    position: absolute;
    top: 580px;
    left: 770px;
  }
  
  .limpar{
    position: absolute;
    top: 580px;
    left: 860px;
  }

  .container{
    position: absolute;
    top: 120px;
    left: 300px;
  }

  .title{
    position: absolute;
    top: 70px;
    left: 300px;
  }
